.block{
    display: block !important;

}
.FAB{
     position:fixed;
     right: 2em;
     display: grid;
     justify-content: center;  
     align-items: center;
     align-content: center;
     bottom:2em;
     cursor: pointer;
}

.icon{
    margin-right: theme.spacing.unit;
}