/*  fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster|Megrim|Sarina');

/*
 Fonts
 font-family: 'Lobster', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Sarina', cursive;
*/