/* .Desc{
    /* padding-right: 190px !important; 
    margin-right: 25px;
}
/* Estilo de prueba, decidir si borrar o dejar antes de hacer deploy
.App-titl{
    text-align: center;
    width: 340px;
    text-align: center;
    margin: 0 auto;
}  */