.Card-h{
    margin-top: 1em;
    overflow: hidden;
}

.btn-more:hover{
    background-color: rgb(70, 117, 37) !important;
    text-decoration:underline;
    transition:all 0.4s ease;
}

.PlaceH-avatar{
    background:#f5f5f5;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    width: 30%;
}

.PlaceH-avatar img{
    max-width: 95%;
}